*
{margin: 0;
padding: 0;

}
body{
    display: flex;
    justify-content: center;
    background:#17181a;
}

.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
}
.container .card{
    width: 908px;
    position: relative;
    height: 600px;
    background: #17181a;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    left: 50%;
    top:-10%;
    
}
h2{
    color: #eeeaea;
    top: 70%;
    position: absolute;
    
    
}
p{
    color: beige;
   
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1.2);
}
.container .card .imgBx video
{   
    max-width: 600%;
    border-radius: 10px;
}

  
  .site-content .pagination{
    justify-content: center;
    color: rgb(255, 254, 254);
    margin: 4rem 0;
   position: fixed;
   top: 90%;
  }
  
  .site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .site-content .pagination .pages{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   
    top: 200%;
    
  }
  .footer-bottom{
    position:relative;
    top: max-top;
    width: 90%;
    color: #ffffff;
    font-weight: 100;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
  }


.search_bar{
    margin-top: 3rem;
    position: absolute;
    left: 30%;
    
}
.search_bar-container{
    position: relative;
    width: 12rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: px;
    color: rgb(124, 124, 124);
}
.search_bar-container > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.search_bar input{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}
.search_bar input::placeholder {
    color: rgb(255, 255, 255);
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: rgb(20, 20, 20);
    border-radius: 2px;
    cursor: pointer;
    transition: 3ms;
    color: aliceblue;
}




.fa-searchengin{
    font-size: 2.3rem;
    position:absolute;
    top: 0%;
    left: 0%;
}













.btn .span {
    color: var(--black);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-1);
    line-height: var(--lineHeight-3);
  }
  
  .btn::after {
    inset: 0;
    border: 1px solid var(--gold-crayola);
    animation: rotate360 15s linear infinite;
  }
  
  .slider-reveal {
    transform: translateY(30px);
    opacity: 0;
  }
  
  .hero .slider-item.active .slider-reveal {
    animation: sliderReveal 1s ease forwards;
  }


.container { padding-inline: 16px; }
.separator {
    width: 8px;
    height: 8px;
    border: 1px solid var(--gold-crayola);
    transform: rotate(45deg);
  }
  
  .contact-label { font-weight: var(--weight-bold); }
  
  .contact-number {
    color: var(--gold-crayola);
    max-width: max-content;
    margin-inline: auto;
  }
  
  .hover-underline {
    position: relative;
    max-width: max-content;
  }
  
  .hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--gold-crayola);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2);
  }
  
  .hover-underline:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
  }
  
  .contact-number::after { bottom: -5px; }
  
  .text-center { text-align: center; }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section-subtitle {
    position: relative;
    color: var(--gold-crayola);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
  }
  
  .section-subtitle::after {
    content: url('../images/separator.svg');
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
  
  .btn {
    position: relative;
    color: var(--gold-crayola);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--gold-crayola);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--gold-crayola);
    transition: var(--transition-2);
    z-index: -1;
  }
  
  .btn .text { transition: var(--transition-1); }
  
  .btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-black-1);
  }
  
  .btn:is(:hover, :focus-visible)::before { bottom: -50%; }
  
  .btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-40px); }
  
  .btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-secondary {
    background-color: var(--gold-crayola);
    color: var(--black);
  }
  
  .btn-secondary::before { background-color: var(--smoky-black-1); }
  
  .btn-secondary .text-2 { color: var(--white); }
  
  .has-before,
  .has-after {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
    content: "";
    position: absolute;
  }
  
  .section {
    position: relative;
    padding-block: var(--section-space);
    overflow: hidden;
    z-index: 1;
  }
  
  .bg-black-10 { background-color: var(--smoky-black-2); }
  
  .grid-list {
    display: grid;
    gap: 40px;
  }
  
  .hover\:shine { position: relative; }
  
  .hover\:shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
  }
  
  .hover\:shine:is(:hover, :focus-within)::after {
    transform: skewX(-0.08turn) translateX(275%);
    transition: var(--transition-3);
  }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    overflow: hidden;
    background-color: var(--eerie-black-4);
  }
  
  .btn-text {
    color: var(--gold-crayola);
    padding-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    font-weight: var(--weight-bold);
    transition: var(--transition-1);
  }
  
  .btn-text:is(:hover, :focus-visible) { color: var(--white); }
  
  .shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
  }
  
  .w-100 { width: 100%; }
  
  .move-anim { animation: move 5s linear infinite; }




